application/src/main/resources/systemTransformations.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:annotation>
		<xs:documentation>xml.mherman.org</xs:documentation>
		<xs:documentation>www.freeformatter.com</xs:documentation>
	</xs:annotation>
	<xs:element name="systemTransformations">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="systemTransformation" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="systemTransformation">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="name" type="xs:string" />
				<xs:element ref="systemTemplate" />
				<xs:element ref="transformations" />
				<xs:element ref="action" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="systemTemplate">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="objectTemplate" maxOccurs="unbounded" />
				<xs:element ref="linkTemplate" minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="objectTemplate">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="objectId" type="xs:string" />
				<xs:element ref="attributeTemplate" minOccurs="0" maxOccurs="unbounded" />
				<xs:element ref="linkTemplate" minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="attributeTemplate">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="name" type="xs:string" />
				<xs:element ref="value" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="value">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="boolean" />
								<xs:enumeration value="string" />
								<xs:enumeration value="integer" />
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="linkTemplate">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="name" type="xs:string" />
				<xs:element name="objectId1" type="xs:string" minOccurs="0" />
				<xs:element name="objectId2" type="xs:string" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="transformations">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="attributeTransformation" />
				<xs:element ref="linkTransformation" />
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="linkTransformation">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="objectId" type="xs:string" />
				<xs:element name="name" type="xs:string" />
				<xs:element name="oldValue" type="xs:string" minOccurs="0" />
				<xs:element name="newValue" type="xs:string" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="attributeTransformation">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="objectId" type="xs:string" />
				<xs:element name="name" type="xs:string" />
				<xs:element ref="value" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="action">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="name" type="xs:string" />
				<xs:element ref="preConditionChecker" minOccurs="0" maxOccurs="unbounded" />
				<xs:element ref="parameterUpdater" minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="preConditionChecker">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="line" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="parameterUpdater">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="line" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="line">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="n" type="xs:integer" use="required" />
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
</xs:schema>
