application/src/main/resources/taskDescription.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:annotation>
		<xs:documentation>xml.mherman.org</xs:documentation>
		<xs:documentation>www.freeformatter.com</xs:documentation>
	</xs:annotation>
	<xs:element name="taskDescription">
		<xs:annotation>
			<xs:documentation>Описание задания</xs:documentation>
			<xs:documentation>Задание на проектирование состоит из описания
				начальной системы и описания конечной системы
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="initialSystem" />
				<xs:element ref="finalSystem" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="initialSystem">
		<xs:annotation>
			<xs:documentation>Начальная система</xs:documentation>
			<xs:documentation>Система состоит из множества объектов и связей
				между ними
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="systemObject" maxOccurs="unbounded" />
				<xs:element ref="link" minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="finalSystem">
		<xs:annotation>
			<xs:documentation>Конечная система</xs:documentation>
			<xs:documentation>Система состоит из множества объектов и связей
				между ними
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="systemObject" maxOccurs="unbounded" />
				<xs:element ref="link" minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="systemObject">
		<xs:annotation>
			<xs:documentation>Объект системы</xs:documentation>
			<xs:documentation>Объект описывается уникальным идентификатором,
				именем и множеством его атрибутов
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="name" />
				<xs:element ref="id" />
				<xs:element ref="attribute" minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="attribute">
		<xs:annotation>
			<xs:documentation>Атрибут</xs:documentation>
			<xs:documentation>Атрибут описывается парой имя и значение
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="name" />
				<xs:element ref="value" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="value">
		<xs:annotation>
			<xs:documentation>Значение</xs:documentation>
			<xs:documentation>Значение состоит из текстового представления
				значения и типа данных из предложенного списка
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="boolean" />
								<xs:enumeration value="string" />
								<xs:enumeration value="integer" />
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="link">
		<xs:annotation>
			<xs:documentation>Связь</xs:documentation>
			<xs:documentation>Связь описывается именем, а также двумя
				идентификаторами объектов, которые она связывает
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="name" />
				<xs:element ref="id1" minOccurs="0" />
				<xs:element ref="id2" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="name" type="xs:string" />
	<xs:element name="id" type="xs:string" />
	<xs:element name="id1" type="xs:string" />
	<xs:element name="id2" type="xs:string" />
</xs:schema>
